---
import PageLayout from 'src/layouts/PageLayout.astro';
---

<PageLayout title='404' currentMenu='404' withPadding>
  <section class='article-section' style={{ textAlign: 'center' }}>
    <header>
      <h1 class='title-page' style={{ marginTop: '4rem', textAlign: 'center' }}>
        Esta página no existe
      </h1>
    </header>
    <img
      src='/src/img/404.jpg'
      alt='404'
      style={{
        width: '100%',
        marginTop: '2rem',
      }}
    />
  </section>
</PageLayout>
