---
import PageLayout from 'src/layouts/PageLayout.astro';
import { Content as DoctrinaContent } from '/src/data/doctrine.mdx';
import '@styles/mdx.css';
import Hero from '@components/Hero.astro';
import {Modal} from '@components/react/Modal'
---

<PageLayout title='Doctrina' currentMenu='Doctrina' withPadding >
  <Hero
    backgroundImage='/src/img/estudiar-la-biblia.jpg'
    maxHeight='60vh'
    height='60vh'
    maxHeight='600px'
    slot='hero'
  />
  <section transition:animate='slide' class='article-section'>
    <article>
      <Modal client:load />
      <DoctrinaContent />
    </article>
  </section>
</PageLayout>
