---
import '../styles/global.css';
import '../styles/home.css';
import Nav from '@components/Nav/Nav.astro';
import NavHome from '@components/home/NavHome.astro';
import { Icon } from 'astro-icon/components';
import Hero from '@components/Hero.astro';
import OurCompromise from '@components/home/sections/OurCompromise.astro';
import OurWish from '@components/home/sections/OurWish.astro';
import AmISave from '@components/home/sections/AmISave.astro';
import ContactUs from '@components/home/sections/ContactUs.astro';
import Footer from '@components/Footer.astro';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Nav fixed classList={['hidden']} currentMenu="Inicio" />
    <Hero backgroundImage='/assets/img/bg-hero1.jpg'>
      <div class='content'>
        <img class='logo' src='/assets/img/logo_iglesia.png' alt='' />
        <a class='btn-contacto' href='#'><Icon name='call' /> Contáctanos</a>
        <h3>UNA IGLESIA BÍBLICA</h3>
        <h1>PARA LA GLORIA DE DIOS</h1>
        <p>
          <strong
            >A Dios sea gloria en la iglesia en Cristo Jesús por todas las
            edades</strong
          >, por los siglos de los siglos. Amén. <br />
          Efesios 3:20-21
        </p>
      </div>
      <NavHome />
    </Hero>

    <OurWish />

    <OurCompromise classes='divider-top' />

    <AmISave classes='divider-top' />

    <ContactUs />

    <Footer />

    <script>
      const nav = document.querySelector('.menu');
      const navHome = document.querySelector('.navHome');
      const navHomePosition =
        navHome && navHome.getBoundingClientRect().top + window.scrollY;
      let showMobileMenu = window.innerWidth < 1024;

      const processMobileMenu = () => {
        if (showMobileMenu) {
          nav?.classList.remove('hidden');
        }
      };

      processMobileMenu();

      window.addEventListener('scroll', () => {
        if (!nav || !navHome || !navHomePosition || showMobileMenu) return;

        if (window.scrollY > navHomePosition) {
          nav.classList.remove('hidden');
        } else {
          nav.classList.add('hidden');
        }
      });
      window.addEventListener('resize', () => {
        showMobileMenu = window.innerWidth < 768;
        processMobileMenu();
      });
    </script>
  </body>
</html>
