---
const { icon, title, description } = Astro.props;
---

<div class='items-element'>
  {icon}
  <h4 class="card-title">{title}</h4>
  <p class="card-description">{description}</p>
</div>

<style>
  .items-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2srem;
    text-align: center;

    svg {
      font-size: 4rem;
      color: var(--primary);
      &:hover {
        color: var(--primary-hover);
      }
    }

    .card-title {
      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
</style>
