---
const { backgroundImage, backgroundPosition, height, maxHeight } = Astro.props;
---

<style define:vars={{ 
  backgroundImage: `url(${backgroundImage})`, 
  height: height || 'auto' ,
  maxHeight: maxHeight || 'auto',
  backgroundPosition: backgroundPosition || 'inherit',
}}>
  .hero {
    position: relative;
    width: 100%;
    height: var(--height);
    max-height: var(--maxHeight);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;

    background-image: linear-gradient(
        180deg,
        rgb(36 22 52 / 80%),
        rgb(76 36 128 / 40%),
        rgba(194, 87, 160, 0.6)
      ),
      var(--backgroundImage);
    background-size: cover;
    background-position: var(--backgroundPosition);
  }
</style>
<div class='hero'>
  <slot />
</div>
