---
import '../styles/global.css';
import Nav from '@components/Nav.astro';
import Footer from '@components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
const { title, currentMenu, withPadding } = Astro.props;
---

<html lang='es'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{title} - Iglesia de Cristo en Talca</title>
    <ViewTransitions />
  </head>
  <body>
    <Nav
      fixed
      classList={currentMenu === 'Inicio' ? ['hidden'] : []}
      currentMenu={currentMenu}
    />
    <slot name='hero' />
    <div
      class:list={['contentPage', currentMenu !== 'Inicio' && 'space-navbar', withPadding && 'withPadding']}
    >
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style>
  .contentPage {
    min-height: 75vh;
  }
  .space-navbar {
    margin-top: 65px;
  }
  .withPadding {
    padding: 2rem 4rem;

    @media screen and (max-width: 768px) {
      padding: 2rem 1rem;
    }
  }
</style>
