---
import { Icon } from 'astro-icon/components';
import { menus } from '@data/menus';
const { fixed = '', classList = [], currentMenu } = Astro.props;
---

<nav class:list={['menu', fixed && 'fixed', ...classList]}>
  <div class='logo'>
    <a href='/'>
      <img src='/assets/img/logo_iglesia.png' />
    </a>
  </div>
  {
    menus.map((menu) => (
      <a href={menu.url}>
        <div class:list={['menuItem', currentMenu == menu.text && 'active']}>
          <Icon name={menu.icon} />
          {menu.text}
        </div>
      </a>
    ))
  }
  <button class='btn-menu-mobile'>
    <Icon name='menu' />
  </button>
</nav>

<style>
  .menu {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 70px;
    background-color: #8a8393;
    box-shadow: 0px 2px 3px 0px #bababa4d;
    align-items: center;
    justify-content: right;
    gap: 0;
    transition:
      max-height 0.3s ease-out,
      background-color 1s;

    .btn-menu-mobile {
      display: none;
      background-color: transparent;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: var(--primary-hover);
      }
      &:active {
        background-color: transparent;
      }
    }

    .menuItem {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1rem;
      gap: 0.5rem;
      border-radius: 0.2rem;
      cursor: pointer;
      color: #fff !important;
      transition:
        background-color 0.5s,
        opacity 0.3s ease-out;
      &:hover, &.active {
        background-color: var(--primary-hover);
        color: white !important;
      }
      svg {
        width: 2rem;
        height: 2rem;
      }
    }

    .logo {
      position: absolute;
      left: 0;
      margin-left: 1rem;
    }
  }

  .fixed {
    position: fixed;
    z-index: 2;
  }

  /* Mobile */
  .btn-menu-mobile {
    height: 60px;
    padding: 0.5rem;
    svg {
      width: 1.5rem;
      height: 1.5rem;
      color: #fff;
    }
  }
  @media screen and (max-width: 1024px) {
    .menu {
      .btn-menu-mobile {
        display: block;
        align-items: center;
      }
      .menuItem {
        opacity: 0;
      }
      &.mobile-show {
        flex-direction: column;
        justify-items: end;
        max-height: 900px;
        background-color: #3a373de4;
        .menuItem {
          display: flex;
          opacity: 1;
        }
        .logo {
          display: flex;
          position: relative;
        }
      }
    }
  }
</style>

<script>
  const menuMobile = document.querySelector('.btn-menu-mobile');
  menuMobile?.addEventListener('click', () => {
    const menu = document.querySelector('.menu');
    menu?.classList.toggle('mobile-show');
  });
</script>
